class BigPoppa extends React.Component {
  constructor() {
    super();
    this.state = {
      foo: true,
      bar: 'yo ima string',
    }
    this.handleClick = this.handleClick.bind(this);
  }

  handleClick() {
    return this.setState({
      bar: 'im still a string'
    })
  }

  render() {
    return(
      <div>
      <Notorious 
        foo={this.state.foo}
        bar={this.state.bar}
        click={this.handleClick}
      />
      </div>
    )
  }
}
